// colors
$color-gray--medium: #A19F9F;
$color-gray--medium2: #525252;
$color-gray--dark: #3C3A3A;
$color-gray--light: #EBFFFB;

$color-blue--light: #CEDDEF;
$color-blue--dark: #3161A3;
$color-blue--medium: #5893D4;
$color-blue--dark2: #1F3C88;

$color-shadow--light: rgba(0, 0, 0, 0.2);
$color-shadow--medium: rgba(0, 0, 0, 0.3);
$color-shadow--dark: rgba(0, 0, 0, 0.4);