.hamburger{
    position: fixed;
    margin: auto;
    top: 10%;
    right: 5%;
    z-index: 100;
    cursor: pointer;
    width: 8rem;
    height:8rem;
    background: $color-blue--medium;
    border-radius: 50%;

    &__menu{
        width: 4rem;
        height: .4rem;
        position: relative;
        transform: translate(2rem, 3.8rem);
        background: white;
        transition: all 0 .3s;

        &.animate{
            background: transparent;

            &::after{
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            &::before{
                bottom: 0;
                transform: rotate(-45deg);
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
        
        &::before{
            content: "";
            width: 4rem;
            height: .4rem;
            position: absolute;
            left: 0;
            bottom: 1.2rem;
            background: #fff;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &::after{
            width: 4rem;
            height: .4rem;
            content: "";
            position: absolute;
            left: 0;
            top: 1.2rem;
            background: #fff;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}