.container{
    transition: all .3s ease-out;
    position: relative;
    background-color: $color-gray--light;
    &.active{
        transform: translateX(30rem);
        @include respond(phone){
            transform: translateX(0rem);
        }
    }
}